body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

header {
    height: 12%;
    display: flex;
    background-color: #08AAE1;
}

header nav a {
    object-fit: cover;
    margin-left: 5%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: white;
}

ul {
    margin: 5%;
    display: flex;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099fff;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border: 0.5px solid #08AAE1;
    visibility: hidden;
}

li:hover:after {
    transform: scaleX(0);
    visibility: visible;
    animation: underline 0.2s linear;
    animation-fill-mode: both;
}

@keyframes underline {
    50% {
        transform: scaleX(0.5px);
    }

    100% {
        transform: scaleX(1);
    }
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

/* Style for the main content */
.container {
    max-width: 110rem;
    padding: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
}

.card {
    background: #262525;
    color: #fff;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

.card-title-large {
    font-family: fantasy, sans-serif;
    font-size: 10rem;
    letter-spacing: 0.5rem;
    color: #1d1d1d;
    user-select: none;
    transform: translateX(7rem);
    transition: transform 2.5s;
}

.card-title-small {
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1.4rem;
    line-height: 1.5;
}

.card-cta {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: auto;
}

.card:hover .card-cta {
    background-color: #262525;
    color: white;
}

.card:hover .card-title-large {
    transform: translateX(-115%);
    color: #fff;
}

.card.java:hover {
    background-color: #1da1f2;
}

.card.sql:hover {
    background: linear-gradient(to left, #D39D38, #4DA0B0);

}

.card.oui:hover {
    background-color: #4267b2;
}

.card.non:hover {
    background-color: #ff074f;
}